@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #202c43;
    --color-btn: repeating-linear-gradient(to right, red 0, #00f 50%, red 100%);
    --text-color: #333e48;
    --red-color: #ed1b24;
    --font-size: 11px;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    padding: 0;
    margin: 0;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
    display: inherit;
}
input {
    border: none;
    padding: 0;
    outline: none;
}
button {
    border: none;
    cursor: pointer;
    padding: 0;
}
p {
    margin: 0;
}

.tippy-arrow {
    display: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}
// slide
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-horizontal {
    // display: none;
}

// slide-menus
.sidebar-menus {
    z-index: 999999999;
    border: 1px solid #ccc;
}
