@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #202c43;
    --color-btn: repeating-linear-gradient(to right, red 0, #00f 50%, red 100%);
    --text-color: #333e48;
    --red-color: #ed1b24;
    --font-size: 11px;
    --white-color: #fff;
    --black-color: #000;
}

html {
    font-size: 62.5%;
}
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    padding: 0;
    margin: 0;
    color: #333e48;
}

select {
    outline: none;
    border: none;
}
a[href] {
    text-decoration: none;
    color: var(--text-color);
    display: inherit;
}
input {
    border: none;
    padding: 0;
    outline: none;
}
button {
    border: none;
    cursor: pointer;
    padding: 0;
}
p {
    margin: 0;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.tippy-arrow {
    display: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}
// slide

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #676869;
    border-radius: 100px;
    opacity: 0.5;
    color: #ed1b24 !important;
    width: 40px !important;
    height: 40px !important;
}

.mySwiper-leftimg {
    height: 20%;
    width: 373px !important;
    padding: 10px 0;
    margin-top: 20px;
    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        transform: none !important;
        .swiper-slide {
            margin: 2px;
            border: 1px solid #ccc;
            padding: 5px !important;
            border-radius: 2px;
            width: calc((100% - 27px) / 5) !important;
        }
    }
}
// slide-menus
.sidebar-menus {
    z-index: 999999999;
    border: 1px solid #ccc;
}
//@at-root
.border-radius {
    border-radius: 5px;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.red {
    color: var(--red-color);
}
