.slide-right {
    width: 321px;
    height: 155.5px;
    background-size: cover;
    margin-left: 5px;
    img {
        width: 100%;
        height: 100%;
    }
}
.img-ads-container {
    width: 648px !important;
    height: 317px !important;
}
.layout-img {
    display: flex;
    flex-wrap: wrap;
}
.slide-img-items {
    width: 321px;
    height: 163px;
}
.slide-bottom {
    + .slide-bottom {
        margin-left: 5px;
    }
    width: 321px;
    height: 150px;
    img {
        width: 100%;
        height: 100%;
    }
}
