.slide-right {
    width: 321px;
    height: 163px;
    background-image: url('https://i.ytimg.com/vi/bEqU7wf9VXY/hq720.jpg');
    background-position: center;
    background-size: cover;
}
.img-ads-container {
    width: 648px !important;
    height: 317px !important;
}
