.menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    transform: translateY(7px);
    transition: visibility 0.2s, transform 0.2s;
    border: 1px solid #ccc;
}
.btn-menu {
    width: 206px;
    padding: 10px;
}
.header-menu2 {
    width: 1200px;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}
