.search-menu {
    display: block;
    padding: 10px;
    overflow: hidden;
    min-width: 680px;
    z-index: 10000000;
    .search-menu-img {
        object-fit: cover;
        width: 60px;
        height: 60px;
        float: left;
    }
    .search-menu-info {
        font-size: 1.2rem;
        margin-left: 65px;
        .search-menu-name {
            display: flex;
            align-content: center;
            align-items: center;
            height: 40px;
        }
        .search-menu-price {
            display: inline-block;
            color: var(--red-color);
        }
    }
}
